---

---

<section id='contact' class='sect'>
	<div class='sect-content grid md:grid-cols-2 md:gap-12 xl:gap-16 md:h-140'>
		<aside
			class='md:p-10 h-full md:bg-brand-primary-07 text-inherit md:text-brand-bright md:bg-[url(@images/noise.png),url(@images/landing/abstract.png)] bg-size-[auto,cover] text-center md:text-start'
		>
			<h2 class='heading-1'>Contact Us</h2>
			<p class='mt-3'>Reach out to us and we'll be with you shortly</p>
		</aside>

		<form class='flex flex-col gap-6 md:-order-1'>
			<span class='block'>
				<label for='' class='block mb-2'>Email</label><input
					class='block w-full py-2.5 px-5 placeholder:text-brand-neutral-05 border-brand-neutral-03 border'
					placeholder='Input Email Here'
				/>
			</span>
			<span class='block'
				><label for='' class='block mb-2'>Message</label><textarea
					placeholder='Write us a message'
					rows='8'
					class='block w-full resize-none p-5 border-brand-neutral-03 border placeholder:text-brand-neutral-05'
				></textarea></span
			>
			<div class='text-center md:text-start'>
				<button class='btn-primary inline-block'>Send Message</button>
			</div>
		</form>
	</div>
</section>
