---
import { navLinks } from "@data/navigation";
import DarkLogo from "@images/dark-logo.svg";
---

<footer class='bg-brand-dark text-brand-bright overflow-hidden relative'>
	<div
		class='sm:w-[min(calc(100vw-(--spacing(20))),--spacing(360))] mx-3 sm:mx-auto flex flex-col sm:flex-row gap-10 mt-10 justify-between'
	>
		<div class=''>
			<span class='block subtitle text-brand-bright'>Reach Out to Us</span
			><span>business@sudoke.dev</span>
		</div>
		<ul
			class='flex flex-col sm:flex-row gap-4 md:gap-6 text-xs md:[font-size:inherit]'
		>
			{
				navLinks.map(({ name, href }) => (
					<li class='h-fit'>
						<a href={href} class='text-nowrap'>
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<span
		class='max-w-6xl block w-[120vw] relative left-1/2 -translate-x-1/2 mt-10 md:mt-20'
	>
		<DarkLogo class='w-full h-auto mask-b-from-10% mask-b-to-85%' />
	</span>
</footer>
