---
import BusinessImg from "@images/landing/business.svg";
import ChatbotImg from "@images/landing/chatbot.svg";
import MobileImg from "@images/landing/mobile.svg";
import WebsiteImg from "@images/landing/website.svg";
import type { SvgComponent } from "astro/types";

const cards: { name: string; desc: string; Icon: SvgComponent }[] = [
	{
		name: "Websites",
		desc: "Make your business standout by building a website.",
		Icon: WebsiteImg,
	},
	{
		name: "Chatbots",
		desc: "Reach Customers 24/7 with WhatsApp or Telegram Bots",
		Icon: ChatbotImg,
	},
	{
		name: "Mobile Apps",
		desc: "Create mobile experiences for your users",
		Icon: MobileImg,
	},
	{
		name: "Business Software",
		desc: "Custom administrative Software Solutions",
		Icon: BusinessImg,
	},
];
---

<section class='bg-brand-primary-01 sect' id='solutions'>
	<div class='sect-content flex flex-col items-center'>
		<div class='flex flex-col gap-3'>
			<h2 class='heading-1 text-brand-primary-07 text-center'>
				What We Offer
			</h2>
			<p class='subtitle text-center'>
				Here are the most common services we offer our clients
			</p>
		</div>
		<ul class='grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-4 lg:gap-12'>
			{
				cards.map(({ name, desc, Icon }) => (
					<li class='bg-brand-bright px-3 py-5 md:p-6 lg:p-9 shadow-card flex flex-col gap-3 md:gap-4 lg:gap-7 items-center'>
						<Icon class='h-10 md:h-auto max-w-full' />
						<span class='subtitle text-center'>{name}</span>
						<span class='text-center'>{desc}</span>
					</li>
				))
			}
		</ul>
		<a href='/#contact' class='btn-primary'>Request A Service</a>
	</div>
</section>
